[Unit]
Description=KMonad (keyboard remapping)
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kmonad %h/.config/kmonad/main.kbd
Restart=on-failure

[Install]
WantedBy=graphical-session.target
