[user]
	name = Saatvik Lochan
	email = saatviklochan@gmail.com
[core]
	editor = nvim
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[safe]
	directory = /home/saatvikl/sshfs_mounts/gpu5
[init]
	defaultBranch = main
