/* Keyframes */

@keyframes blink-critical {
	to {
		/*color: @white;*/
		background-color: @critical;
	}
}


/* Styles */

/* Colors (gruvbox) */
@define-color black	#282828;
@define-color red	#cc241d;
@define-color green	#98971a;
@define-color yellow	#d79921;
@define-color blue	#458588;
@define-color purple	#b16286;
@define-color aqua	#689d6a;
@define-color gray	#a89984;
@define-color brgray	#928374;
@define-color brred	#fb4934;
@define-color brgreen	#b8bb26;
@define-color bryellow	#fabd2f;
@define-color brblue	#83a598;
@define-color brpurple	#d3869b;
@define-color braqua	#8ec07c;
@define-color white	#ebdbb2;
@define-color bg2	#504945;


@define-color kaidoblue #894851;
@define-color bright #8a7142;
@define-color dark @bg2;
@define-color textcolour @white;

@define-color inactive	@gray;
@define-color unfocused	@dark;
@define-color focused	@bright;

@define-color warning 	@bryellow;
@define-color critical	@yellow;

@define-color mode	@bright;

@define-color clockify	@dark;
@define-color sound	@bright;
@define-color network	@dark;
@define-color memory	@bright;
@define-color cpu	@dark;
@define-color temp	@bright;
@define-color battery	@dark;
@define-color layout	@bright;
@define-color tray	@dark;
@define-color time	@bright;

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

/* The whole bar */
#waybar {
	background: rgba(40, 40, 40, 1); /* #282828e0 */
	color: @white;
	font-family: JetBrains Mono, Siji;
	font-size: 10pt;
	/*font-weight: bold;*/
}

#waybar.empty {
        background: rgba(0, 0, 0, 1);
}

/* Each module */
#battery,
#clock,
#cpu,
#kbd,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
	padding-left: 8pt;
	padding-right: 8pt;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

/* And now modules themselves in their respective order */

#mode {
	color: @white;
	background: @mode;
}

/* tags stuff */
#tags button {
	/*font-weight: bold;*/
	padding-left: 2pt;
	padding-right: 2pt;
	color: @white;
	background: @unfocused;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @white;
	background: @inactive;
}

/* Active (on focused output) */
#workspaces button.focused {
	color: @white;
	background: @focused;
}

/* Contains an urgent window */
#workspaces button.urgent {
	color: @white;
	background: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
	background: @black;
	color: @white;
}

#window {
	margin-left: 0pt;
        /* max-width: 25%; */
        /* overflow: hidden; */
        /* text-overflow: ellipsis; */
}

#custom-clockify {
        padding-left: 8pt;
        padding-right: 8pt;
        background: @clockify;
        color: @textcolour
}

#pulseaudio {
	background: @sound;
	color: @textcolour;
}

#network {
	background: @network;
	color: @textcolour;
}

#memory {
	background: @layout;
	color: @textcolour;
}

#cpu {
	background: @cpu;
	color: @textcolour;
}

#temperature {
	background: @temp;
	color: @textcolour;
}

#idle_inhibitor {
	background: @layout;
	color: @textcolour;
}

#battery {
	background: @battery;
	color: @textcolour;
}

#tray {
	background: @tray;
}

#clock.time {
	background: @time;
	color: @textcolour;
}

#custom-arrow1 {
	font-size: 11pt;
	color: @time;
	background: @tray;
}

#custom-arrow2 {
	font-size: 11pt;
	color: @tray;
	background: @layout;
}

#custom-arrow3 {
	font-size: 11pt;
	color: @layout;
	background: @battery;
}

#custom-arrow4 {
	font-size: 11pt;
	color: @battery;
	background: @temp;
}

#custom-arrow5 {
	font-size: 11pt;
	color: @temp;
	background: @cpu;
}

#custom-arrow6 {
	font-size: 11pt;
	color: @cpu;
	background: @memory;
}

#custom-arrow7 {
	font-size: 11pt;
	color: @memory;
	background: @network;
}

#custom-arrow8 {
	font-size: 11pt;
	color: @network;
	background: @sound;
}

#custom-arrow9 {
	font-size: 11pt;
	color: @sound;
	background: @clockify;
}

#custom-clockifyarrow {
	font-size: 11pt;
	color: @clockify;
	background: transparent;
}

#custom-arrow10 {
	font-size: 11pt;
	color: @unfocused;
	background: transparent;
	margin-right: 10pt
}
