// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {
        }
    }

    touchpad {
        tap
        natural-scroll
        accel-speed 0.2
    }

    mouse {
        // natural-scroll
        accel-profile "flat"
        scroll-factor 2.0
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // middle-emulation
    }

    tablet {
      map-to-output "eDP-1"
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="10%"
}
debug {
  // jump to urgent windows (i.e. when I click on a link)
  honor-xdg-activation-with-invalid-serial
} 

hotkey-overlay {
  skip-at-startup
}

gestures {
  hot-corners {
    off
  }
}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    // Set gaps around windows in logical pixels.
    gaps 10
    center-focused-column "never"
    preset-column-widths {
        proportion 0.5
        proportion 0.33333
        proportion 0.66667
    }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }
    tab-indicator {
      place-within-column;
      hide-when-single-tab;
    }

    // You can change how the focus ring looks.
    focus-ring {
        width 3
        // color set in colors.kdl
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        off
        width 3
        active-color "#ffc87f"
        inactive-color "#505050"

        // Color of the border around windows that request your attention.
        urgent-color "#9b0000"

        active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can enable drop shadows for windows.
    shadow {
        // Softness controls the shadow blur radius.
        softness 30
        spread 10
        offset x=0 y=5
        color "#0007"
    }

    struts {
    }
}

recent-windows {
    // off
    debounce-ms 750

    open-delay-ms 150

    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        padding 30
        corner-radius 0
    }

    previews {
        max-height 480
        max-scale 0.5
    }

    binds {
        // Alt+Tab         { next-window; }
        // Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }

        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
        Mod+grave       { next-window     filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
}

output "eDP-1" {
    scale 1
    transform "normal"
    position x=640 y=1440
}

output "Dell Inc. DELL U2412M YMYH147B060S" {
    transform "90"
    scale 1
    position x=2560 y=0

    layout {
        default-column-width { proportion 1.0; }
    }
}

output "Acer Technologies CB272U 0x3131AB9A" {
  scale 1
  position x=0 y=0
}

include "colors.kdl"
spawn-at-startup "zsh" "-c" "/home/saatvikl/scripts/init"

prefer-no-csd
screenshot-path "~/screenshot/%Y-%m-%d_%H-%M-%S.png"

// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
    off
    // slowdown 0.25
}

window-rule {
  open-maximized false
  open-fullscreen false
  open-maximized-to-edges false
}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match title="^fzfmenu$"
    open-floating true
    opacity 0.8
    default-window-height { proportion 0.5; }
    default-column-width { proportion 0.5; }
}

window-rule {
    match title="^niri-nvim$"
    open-floating true
    default-window-height { proportion 0.3; }
    default-column-width { proportion 0.5; }
}

// Example: enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

binds {
    Alt+Shift+Slash { show-hotkey-overlay; }

    Alt+Return hotkey-overlay-title="Open a Terminal" { spawn "~/scripts/launch-kitty.sh"; }

    Alt+D hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }
    Alt+C hotkey-overlay-title="Open a (uiuc) browser" { spawn "firefox" "--profile" "/home/saatvikl/.mozilla/firefox/l0e6rk9q.uiuc"; }
    Alt+Ctrl+C hotkey-overlay-title="Open a (normal) browser" { spawn "firefox" "--profile" "/home/saatvikl/.mozilla/firefox/2vmq0iuu.cam"; }

    Alt+Minus { spawn "~/repos/niri-nvim/scripts/launch-niri-nvim.sh"; }
    Alt+Space { toggle-overview; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "/home/saatvikl/scripts/volume.sh" "inc" "5"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "/home/saatvikl/scripts/volume.sh" "dec" "5"; }
    Shift+XF86AudioRaiseVolume allow-when-locked=true { spawn "/home/saatvikl/scripts/volume.sh" "inc" "1"; }
    Shift+XF86AudioLowerVolume allow-when-locked=true { spawn "/home/saatvikl/scripts/volume.sh" "dec" "1"; }
    XF86AudioMute        allow-when-locked=true { spawn "amixer" "-D" "pulse" "set" "Master" "toggle"; }

    XF86MonBrightnessUp { spawn "/home/saatvikl/.config/sway/scripts/brightness.sh" "inc" "10"; }
    XF86MonBrightnessDown { spawn "/home/saatvikl/.config/sway/scripts/brightness.sh" "dec" "10"; }
    Shift+XF86MonBrightnessUp { spawn "/home/saatvikl/.config/sway/scripts/brightness.sh" "inc" "1"; }
    Shift+XF86MonBrightnessDown { spawn "/home/saatvikl/.config/sway/scripts/brightness.sh" "dec" "1"; }

    XF86PickupPhone { spawn "playerctl" "previous"; }
    XF86HangupPhone { spawn "playerctl" "next"; }
    XF86NotificationCenter { spawn "playerctl" "play-pause"; }

    Alt+0 { spawn "wlr-which-key" "/home/saatvikl/.config/wlr-which-key/power.yaml"; }
    Alt+O { spawn "wlr-which-key" "/home/saatvikl/.config/wlr-which-key/open.yaml"; }
    Alt+Semicolon { spawn "wlr-which-key" "/home/saatvikl/.config/wlr-which-key/utilities.yaml"; }

    Alt+Q { close-window; }

    Alt+H     { focus-column-or-monitor-left; }
    Alt+L     { focus-column-or-monitor-right; }
    Alt+J     { focus-window-or-monitor-down; }
    Alt+K     { focus-window-or-monitor-up; }

    Alt+Ctrl+Left  { move-column-left; }
    Alt+Ctrl+Down  { move-window-down; }
    Alt+Ctrl+Up    { move-window-up; }
    Alt+Ctrl+Right { move-column-right; }
    Alt+Ctrl+H     { move-column-left; }
    Alt+Ctrl+L     { move-column-right; }
    Alt+Ctrl+J     { spawn "~/scripts/niri-insert-workspaces.sh" "--down"; }
    Alt+Ctrl+K     { spawn "~/scripts/niri-insert-workspaces.sh" "--up"; }

    Alt+Shift+H     { focus-column-first; }
    Alt+Shift+L     { focus-column-last; }
    Alt+Ctrl+Shift+H     { move-column-to-first; }
    Alt+Ctrl+Shift+L     { move-column-to-last; }

    Alt+Shift+J { move-workspace-down; }
    Alt+Shift+K   { move-workspace-up; }

    Alt+Comma  { focus-monitor-previous; }
    Alt+Period { focus-monitor-next; }

    Alt+Shift+Period { move-column-to-monitor-next; }
    Alt+Shift+Comma { move-column-to-monitor-previous; }

    Alt+U { move-column-to-monitor-next; }
    Alt+Shift+U { move-workspace-to-monitor-next; }
    Alt+Ctrl+U { move-window-to-monitor-next; }

    Alt+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Alt+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Alt+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Alt+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Alt+WheelScrollRight      { focus-column-right; }
    Alt+WheelScrollLeft       { focus-column-left; }
    Alt+Ctrl+WheelScrollRight { move-column-right; }
    Alt+Ctrl+WheelScrollLeft  { move-column-left; }

    Alt+Shift+WheelScrollDown      { focus-column-right; }
    Alt+Shift+WheelScrollUp        { focus-column-left; }
    Alt+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Alt+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Alt+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    Alt+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }

    Alt+1 { focus-workspace 1; }
    Alt+2 { focus-workspace 2; }
    Alt+3 { focus-workspace 3; }
    Alt+4 { focus-workspace 4; }
    Alt+5 { focus-workspace 5; }
    Alt+6 { focus-workspace 6; }
    Alt+7 { focus-workspace 7; }
    Alt+8 { focus-workspace 8; }
    Alt+9 { focus-workspace 9; }
    Alt+Ctrl+1 { move-column-to-workspace 1; }
    Alt+Ctrl+2 { move-column-to-workspace 2; }
    Alt+Ctrl+3 { move-column-to-workspace 3; }
    Alt+Ctrl+4 { move-column-to-workspace 4; }
    Alt+Ctrl+5 { move-column-to-workspace 5; }
    Alt+Ctrl+6 { move-column-to-workspace 6; }
    Alt+Ctrl+7 { move-column-to-workspace 7; }
    Alt+Ctrl+8 { move-column-to-workspace 8; }
    Alt+Ctrl+9 { move-column-to-workspace 9; }

    Alt+BracketLeft  { consume-or-expel-window-left; }
    Alt+BracketRight { consume-or-expel-window-right; }

    Alt+R { set-column-width "50%"; }
    Alt+Shift+R { switch-preset-window-height; }
    Alt+Ctrl+R { reset-window-height; }

    // FINALLY!!!
    Alt+F { maximize-window-to-edges; }
    Alt+Shift+F { fullscreen-window; }
    Alt+Ctrl+F { maximize-column; }

    // B for borderless (nice to get rid of head of browser)
    Alt+B { toggle-windowed-fullscreen; }
    XF86Favorites { spawn "~/scripts/toggle-kbd.sh"; }

    // Center all fully visible columns on screen.
    Alt+Shift+C { center-column; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Alt+Shift+Minus { set-column-width "-10%"; }
    Alt+Shift+Equal { set-column-width "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Alt+V       { toggle-window-floating; }
    Alt+Shift+V { switch-focus-between-floating-and-tiling; }
    Alt+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Alt+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Alt+Shift+E { quit; }
    Alt+Shift+P { power-off-monitors; }
}
