output "eDP-1" {
    position x=0 y=0
}

output "Dell Inc. DELL P2725H JK64634" {
    position x=0 y=-1080
}

binds {
    Alt+Comma { focus-monitor "Dell Inc. DELL P2725H JK64634"; }
    Alt+Ctrl+Comma { move-window-to-monitor "Dell Inc. DELL P2725H JK64634"; }
    Alt+Shift+Comma { move-workspace-to-monitor "Dell Inc. DELL P2725H JK64634"; }
    Alt+Tab { focus-monitor "eDP-1"; }
    Alt+Ctrl+Tab { move-window-to-monitor "eDP-1"; }
    Alt+Shift+Tab { move-workspace-to-monitor "eDP-1"; }
}
